<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>DBServer</title>
  
</head>
<body>  
    
    <div  class="topnav">
    
        <div class='parent'>
            <h3 id="title"> AmoCRM Contacts</h3>
            <a href="/logout" class="button" style="float: right;">Logout</a></li>
        </div>
    
     
    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/amoconnections">AmoCrm connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/amoContacts">amoContacts</a></li>
            <li><a href="/doliContacts">doliContacts</a></li>
            <li><a href="/combined">Combined</a></li>
            <li><a href="/combinedDoli">CombinedDoli</a></li>
            <li><a href="/newUsers">newUsers</a></li>
        
        
             
        </ul>
        
  </div>
  <a href="/getamocontacts" class="button">Buscar nuevos usuarios</a>
  <a href="/exportamo" class="button">Exportar a excel</a>
  
   
    <div>
        <table>
            <th>#</th>
    
            <th>id</th>
            <th>Nombre completo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Tags</th>
            
  
      

            <% for(var i=0; i<users.length; i++){ %>
                <tr>
                    <td><%=i %> </td>
                    <td><%= users[i].id %> </td>  
                    <td><%= users[i].name %> </td>
                    <td><%= users[i].first_name %> </td>
                    <td> <%= users[i].last_name %> </td>
                    <td><%= users[i].Email %> </td>
                    <td> <%= users[i].Phone %> </td>
                    <td> <%= users[i].Tags %> </td>
                   
                 
                  
                    
                    
                </tr>
                <% } %>
          
                
        </table>

    </div>



    
</body>
</html>
