<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/styles.css">
    <title>DBServer</title>
  
</head>
<body>  
    
 
    <div  class="topnav">
        <div class='parent'>
            <h3 id="title"> AmoCrm Connection</h3>
            <a href="/logout" class="button" style="float: right;">Logout</a></li>
        </div>
    
        
    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/amo/connections">AmoCrm connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/amo/contacts">amoContacts</a></li>
            <li><a href="/doli/contacts">doliContacts</a></li>
            <li><a href="/combined">Combined</a></li>
            <li><a href="/combined/combinedDoli">CombinedDoli</a></li>
            <li><a href="/combined/newUsers">newUsers</a></li>>
            <li><a href="/combined/newToAmo">newUsersToAmo</a></li>
          </ul>
        
  </div>
    <% if ( message ) { %>
        <% if ( message.type == 'error' ) { %>
            <h4 class="error"> <%= message.text %> </h4>
        <% } %>
        <% if ( message.type == 'success' ) { %>
            <h4 class="success"> <%= message.text %> </h4>
        <% } %>
      <% } %>
    <div>
        <a href="/amo/refreshtoken" class="button">Update tokens</a>
        
        <form name="formConection" method='POST' action="/amo/connections">
            <input type="text" id="url" name='url' placeholder="insertar url"><br>
            <input type="text" id="claveSecreta" name='claveSecreta' placeholder="insertar clave secreta"><br>
            <input type="text" id="idIntegracion" name='id' placeholder="insertar id de integración"><br>     
            <input type="text" id="codAutorizacion" name='code' placeholder="insertar codigo de Autorizacion" ><br>
            <input type="submit" value="Add AmoCrm connection"><br>
        </form>
    </div>
    <div>
        <table>
            <th>Url</th>
            <th>Secret</th>
            <th>Client iD</th>
            <th>Access Token</th>
            <th>Refresh Token</th>
            <th>Action</th>

            <% for(var i=0; i<conections.length; i++){ %>
                <tr>
                    <td><%=conections[i].url  %> </td>
                    <td><%=conections[i].clientSecret  %> </td>
                    <td><%=conections[i].clientId  %> </td>
                    <td ><%=conections[i].accessToken %> </td>
                    <td > <%=conections[i].refreshToken %> </td>
                    <td> 
                        <!-- <a class='editButton' href="/conections/edit/<%=i %>"  >Editar</a>  -->
                        <a class="deleteButton" href="/amo/connections/delete?id=<%=conections[i].url %>"  >Quitar</a>
                    </td>
                    
                </tr>
                <% } %>
         
            
        </table>

    </div>



    
</body>
</html>
