<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>amoContacts</title>
  
</head>
<body>  
    
    <div  class="topnav">
    
        <h3 id="title"> AmoCRM Contacts</h3>
    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/amoconnections">AmoCrm connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/amoContacts">amoContacts</a></li>
        
             
        </ul>
        
  </div>
    
    <a class="deleteButton" href="/customers">Buscar nuevos usuarios</a>
    <a class="editButton" href="/export">Exportar a excel</a>
   
    <div>
        <table>
            <th>#</th>
            <th>Tag</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
  
            <th>Dirección</th>
            <th>CP</th>
            <th>Ciudad</th>
            <th>Productos_comprados</th>
  
      

            <% for(var i=0; i<users.length; i++){ %>
                <tr>
                    <td><%=i %> </td>
                    <td><%= users[i].tag %> </td>
                    <td><%= users[i].id %> </td>
                    <td><%= users[i].firstName %> </td>
                    <td> <%= users[i].lastName %> </td>
                    <td><%= users[i].Email %> </td>
                    <td> <%= users[i].TELEFONO %> </td>
                 
                    <td> <%= users[i].DIRECCION %> </td>
                    <td><%= users[i].COD_POSTAL %> </td>
                    <td> <%= users[i].CIUDAD %> </td>
                    <td><%= users[i].PRODUCTOS_COMPRADOS %> </td>
              
                 
                  
                    
                    
                </tr>
                <% } %>
          
                
        </table>

    </div>



    
</body>
</html>
