<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>DBServer</title>

    <script> 
        function clickAndDisable(link) {
          // disable subsequent clicks
            
         
          link.onclick = function(event) {
            console.log("id:", link.id)
             event.preventDefault();
             document.getElementById(link.id).style.cssText = 'background:#ffffff; color: #000000;';
          }
        }   
     </script>
  
</head>
<body>  
    
    <div  class="topnav">
        <div class='parent'>
            <h3 id="title"> new Users</h3>
  
            <a href="/logout" class="button" style="float: right;">Logout</a></li>
        </div>

    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/amo/connections">AmoCrm connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/amo/contacts">amoContacts</a></li>
            <li><a href="/doli/contacts">doliContacts</a></li>
            <li><a href="/combined">Combined</a></li>
            <li><a href="/combinedDoli">CombinedDoli</a></li>
            <li><a href="/newUsers">newUsers</a></li>
          </ul>
        
  </div>
  <a href="/getdolicontacts" class="button" id="update" onclick="clickAndDisable(this);" >Buscar nuevos usuarios</a>
  <a href="/exportnew" class="button" >Exportar a excel</a>
  <a href="/addnewUsersToDoli" id="addnew" class="button" onclick="clickAndDisable(this);" >Actualizar contactos en Doli</a>
  
   
    <div>
        <table>
            <th>#</th>
    
            <th>id</th>
            <th>Nombre completo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Tags</th>
            
            
            
  
      

            <% for(var i=0; i<users.length; i++){ %>
                <tr>
                    <td><%=i %> </td>
                    <td><%= users[i].id %> </td>  
                    <td><%= users[i].name %> </td>
                    <td><%= users[i].first_name %> </td>
                    <td> <%= users[i].last_name %> </td>
                    <td><%= users[i].Email %> </td>
                    <td> <%= users[i].Phone %> </td>
                    <td> <%= users[i].Tags %> </td>
                 
                  
                    
                    
                </tr>
                <% } %>
          
                
        </table>

    </div>



    
</body>
</html>
