<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
    <title>Conections</title>
  
</head>
<body>  
    
    <div  class="topnav">
    
        <h3> Users</h3>
    
        <ul id=”button”>
            <li><a href="/">Home</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/addresses">Addresses</a></li>
            <li><a href="/orders">Orders</a></li>
        
             
        </ul>
        
  </div>
    
    <a class="deleteButton" href="/customers">Buscar nuevos usuarios</a>
    <a class="editButton" href="/export">Exportar a excel</a>
   
    <div>
        <table>
            <th>#</th>
            <th>Tag</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Dirección</th>
            <th>CP</th>
            <th>Ciudad</th>
            <th>Productos_comprados</th>
            <th>Total gastado</th>
            <th>Fecha_agregado</th>
            <th>Fecha_actualizado</th>

            <% for(var i=0; i<users.length; i++){ %>
                <tr>
                    <td><%=i %> </td>
                    <td><%= users[i].tag %> </td>
                    <td><%= users[i].id %> </td>
                    <td><%= users[i].name %> </td>
                    <td> <%= users[i].lastName %> </td>
                    <td><%= users[i].email %> </td>
                    <td> <%= users[i].phone %> </td>
                    <td><%= users[i].cellPhone %> </td>
                    <td> <%= users[i].address %> </td>
                    <td><%= users[i].postCode %> </td>
                    <td> <%= users[i].city %> </td>
                    <td><%= users[i].products %> </td>
                    <td><%= users[i].total %> </td>
                    <td> <%= users[i].dateAdded %> </td>
                    <td><%= users[i].dateUpdated %> </td>
                  
                    
                    
                </tr>
                <% } %>
          
                
        </table>

    </div>



    
</body>
</html>
